<div class="panel panel-default">
  <div class="panel-heading">
    EPA AirNow Air Quality Forecasts (for 50 miles from the center of the map)
  </div>
  <div class="panel-body" style="padding:10px; overflow:scroll; max-height: 93px; min-height: 93px;">
    <div id="home-map-aqis-container">
      <p>
        Loading... please wait
      </p>
    </div>
  </div>
</div>
