<div class="modal fade" id="embedInstructions" tabindex="-1" role="dialog" aria-labelledby="embedInstructionsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="embedInstructionsLabel">Embed Instructions</h4>
      </div>
      <div class="modal-body">
        <p>All you need to do is paste the following on your website or content management system (such as WordPress or Drupal). If you need help, ask your webmaster or contact us and we'll try to help.</p>
        <pre class="embed-snippet">
&lt;p>Check out community air, water, and soil data visualizations from &lt;a href='http://louisvilleairmap.com' target='blank'>LouisvilleAirMap.com&lt;/a> &lt;/p></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
