<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "728ff64e-e66a-4b1f-b1f0-fd11ba38f060", doNotHash: true, doNotCopy: true, hashAddressBar: false,});</script>
<span class='sharethis st_twitter_large' st_via="HealthyAWS" displayText='Tweet'></span>
<span class='sharethis st_facebook_large' displayText='Facebook'></span>
<span class='sharethis st_linkedin_large' displayText='LinkedIn'></span>
<span class='sharethis st_sharethis_large' displayText='ShareThis'></span>
<span class='sharethis st_email_large' displayText='Email'></span>

<% if @embeddable %>
	<a class="btn btn-outline btn-default hide-on-embed" data-toggle="modal" data-target="#embedInstructions" style=''><i class="fa fa-fw fa-code"></i> Embed</a>
<% end %>